@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

 h1{
    color: #1d49aa
 }
 .carts p{
    color: gray;
 }
  body{
    font-family: 'Karla', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBF7EE; 
}
header img {
    margin-top: auto;
    margin-bottom: auto;
}
header{
    display: flex;
    justify-content: space-between;
}
.menu{
    background-color: #FBF7EE; 
    display: flex;
}
 a { 
    
    text-decoration: none;
}
header ul li{
   
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
}
header h4{
    padding-right: 15px;

}
button:hover {
    background: #1d49aa;
  }
 header>div>button{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    margin: 15px 1px;
    font-size: 12px;
    }

 main button{
        appearance: none;
        border: 0;
        border-radius: 5px;
        background: #4676D7;
        color: #fff;
       padding: 4px 10px;
        font-size: 12px;
}

.part1{
    display: flex;
    padding-top: 3%;
}
main section{

    width: 70% ;
    margin: 70px 10px;
    
}
main section h1{
    margin:0 ;
    font-size: 300% ;
}
#texte{
    width: 80%;
}

.input{
   
    height: 25px; 
    width: 50%;
    
}
.button{
    height: 30px; 
    width: 100px;
   
}
main form p{
    font-size: small;
    margin: 10px;
}
.part2{
   display: grid; 
   gap: 30px;
   grid-template-columns: auto auto auto auto ;
}
.carts{
    background-color: #fff;
    border: 3px solid wheat ;
    padding: 15px;
    border-radius: 5px;
    padding-bottom: 0;
    width: 85%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 55px;
    margin-bottom: 30px;

}
.carts>img{
    width:20% ;
}
.carts>h2{
    margin: 0;
    padding: 0;
}

#textLimit{
    width: auto;
}
.part3{
    display: flex;
   width: 100%;
}
.carts2{
    background-color: antiquewhite;
    margin: 0px;
   margin: 15px;
   padding: 15px;
    border: 3px solid rgb(181, 162, 128) ;
    border-radius: 10px; 
    margin-left:0 ;
}
.carts2 a{
    background-color: #1d49aa;
    color: azure;
    border: 0 ;
    border-radius: 15px;
    padding: 20px;
    padding-top: 10px;
    text-align: center;
}
.carts2 button{
    width:100%;
    height:40px;
}

#adsCart{
    text-align: center;
    margin-top: 15px;
    border: 3px solid rgb(152, 106, 27) ;
    border-radius:5px; 
    height: 250px;
   
}

@media (max-width: 900px) {
   
    body{
         padding: 5px;

}

header{
     justify-content: center;
        display:grid;
        gap:5px;}
   
    
 .part1{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,350px));
        gap: 20px;
        
    }
    
    .sec1{
        width: 100%;
       
        }
    
    .part2{ 
       margin-top: 50px;
        justify-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,350px));
        gap: 50px;
    }
    .carts{
        margin: 0;
        padding: 20px;
      
        
    }
   
    
    .part3{
        width: auto;
        justify-items: center;
        text-align: center;
        display: grid;
        gap: 50px;
       
    }
    #adsCart{
        justify-items: center;
        width: 50%;

    }
    #adsCart>img{
        width: 70% ;
    }
    
    .menu{
        justify-content: center;
        
    }

    
    

}


    
    