@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

#logo{
   width: 100px;
}
p>img{
   width: 20px;
}

*{
   font-family: 'Karla', sans-serif;
}
body{
   font-family: 'Karla', sans-serif;
   background-color: #FBF7EE; 
}
h1{

   padding: 15px;
   border-radius: 25px;
   background-color: rgb(15, 234, 77) ;
   color: #1d49aa;
}
p{
  margin: 0px;
  }
.button{
   border:solid 1px;
   background: #4676D7;
   color: #fff;
   width: 40%;
   height: 50px;
   justify-items: center;
   border-radius: 10px;
   
}
.login{
   text-align: center;
   justify-items: center;
   display: grid; 
   grid-template-rows: auto ;
}
.content{
   text-align: center;
   width:100% ;
   height:200px ;
}
.input{
   border: 1px solid ;
   font-size: medium;
   text-align: center;
   width: 40%;
   height: 20%;
   border-radius: 5px;
}
p{
   font-size: medium;
}
form>button{
   background-color: rgb(15, 234, 77);
}
@media(max-width: 600px){
   header{
      display: flex;
      justify-content: center;
   }
   .input{
     width: 90%;
   }
   .button{
      width: 100%;
   }
}